body {
  /* border: 1px solid black; */
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
  /* width: 100%; */
}

/* .container {
  height: 100%;
  width: 100%;
} */

/*first-block*/
.first-block {
  background-color: #00caf3;
  color: white;
  height: 1000%;
  margin: auto;
  padding-bottom: 20%;
  /* width: 100%; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 88vw;
}

nav p {
  font-size: 3vh;
}

.navElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 35vw;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

Header {
  padding-top: 240px;
  margin: auto;
  margin-left: 5%;
}

header h1 {
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 0;
}

header p {
  letter-spacing: 4px;
  font-size: 105%
}

/*second-block*/
.second-block {
  text-align: center;
  width: 100%;
  height: 100%;
  color: #585858;
  background-color: white;
  /* display: inline-block; */
}

.second-block h3, .fourth-block h3 {
  font-size: 3em;
  margin-bottom: 0;
}

.sub-title {
  font-size: 140%;
  margin: auto;
  margin-bottom: 3%;
}

.box {
  width: 40vw;
  /* float: left; */
  margin-top: 5%;
  margin-bottom: 5%;
}

.box p {
  width: 30vw;
  margin: auto;
  padding: 10px;
}

.box .fa {
  font-size: 8vh;
  color: #00caf3;
  padding-bottom: 10px;
}

.bold {
  font-weight: bold;
  font-size: 2.5vh;
}

/*Third-block*/
.third-block {
  height: 500%;
  background-color: #ebebeb;
  /* padding-top: 2%;
  padding-bottom: 3%; */
  margin-right: 0;
  /* padding-left: 15%;
  padding-right: 15%; */
  padding: 2% 15% 3% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  /* float: right; */
  /* margin: 2em 0 1em 1em; */
  transform: rotate(45deg);
}

.third-block h3, p {
  /* width: 70%; */
}

.third-block h3 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.sizeBig {
  font-size: 130%;
  margin-bottom: 3%;
  margin-top: 0;
}

/*fourth-block*/
.fourth-block {
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
  color: #585858;
  margin-left: 5%;
  margin-right: 5%;

}

.allboxFourth, .all2ndBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.box1 {
  width: 20vw;
}

.box1 .fa {
  font-size: 200%;
  color: #00caf3;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 20%;
}

.box1 p{
  margin-left: auto;
  margin-right: auto;
  font-size: 3vh;
}


/*fifth-block*/
.fifth-block {
  background-color: #00caf3;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  font-size: 150%;
}

button {
  background: #00caf3;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 13px 30px 13px 30px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

button:hover {
  background: #2ECCFA;
   text-decoration: none;
}

footer {
  background-color: #00bfe7;
  color: white;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
}



/*-----------MEDIA QUERIES--------------*/
@media screen and (max-width: 950px) {
  .box1 {
    width: 25vw;
  }
  .box1 p{
    font-size: 2vh;
  }
  .navElement {
    width: 45vw;
  }
}

@media screen and (max-width: 700px) {
  .box {
    width: 50vw;
  }
  
  .box p {
    width: 40vw;
  }

  .navElement {
    width: 55vw;
  }

  .third-block {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 550px) {
  .first-block {
    width: 100%;
  }
  .box1 {
    width: 30vw;
  }
  header h1 {
    font-size: 3em;
  }
}